ansible==2.9.14
asyncssh==2.4.2
boto3==1.15.16
ciscoconfparse==1.5.19
cryptography==3.1.1
genie==20.9
jc==1.13.4
jtbl==1.1.6
napalm==3.2.0
netmiko==3.3.2
nornir==2.5.0
openpyxl==3.0.5
pip==20.2.3
pyats==20.9
pymssql==2.1.5
pynetbox==5.1.0
rich==8.0
setuptools==50.3.0